a { 
  color: #A797FF;
  text-decoration: none;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.TodoTable {
  width: 100%;
  border-collapse: separate; /* Change to separate to allow spacing between cells */
  border: 1px solid #b5b9bd;
  margin-top: 20px;
}

.TodoTable th, 
.TodoTable td {
  padding: 18px; /* Increase padding as needed */
  border-bottom: 1px solid #b5b9bd; /* Add a bottom border to header cells and data cells */
}

.TodoTable th {
  border-right: 1px solid #b5b9bd; /* Add a right border to header cells for the line between columns */
}

.TodoTable td {
  border-right: 1px solid #b5b9bd; /* Add a right border to data cells for the line between columns */
}

.TodoTable th:last-child,
.TodoTable td:last-child {
  border-right: none; /* Remove the right border for the last column */
}

.TodoTable tr:last-child td {
  border-bottom: none; /* Remove the bottom border for the last row */
}


table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px 2px;
  text-indent: initial;
  box-sizing: border-box;
} 

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(29, 148, 24);
  overflow: auto;
  font-family: "Dejavu Sans";
}

.App-paragraph {
  background-color: #000000;
  font-size: calc(4px + 2vmin);
  color:white;
  width: 60%;  
  margin-left: 70%;
  margin-right: 60%;
  text-align:left;
  font-family: "Dejavu Sans";
}



.App-subheader {
  font-family: "Dejavu Sans";
  text-align:left;
  width: 60%;  
  margin-left: 70%;
  margin-right: 60%;
  
}


.App-link {
  color: #2a87a1;
}

.Pastelle {
  background-color:#697aa7;
  height: 700px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
